/* ----------------------------------------------------------------
                        CSS TAG SELECTORS
-----------------------------------------------------------------*/
body {
    margin: 60px auto;
    width: 90%;
    color: #fafafa;
}
/* header and footer */
nav ul, footer ul {
    font-family: 'Courier', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: #fafafa;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #fafafa;
}
footer {
    font-size: .8em;
    color: #fafafa;
}
/* hyperlinks */
a {
    text-decoration: none;
    color: #fafafa;
}
a:hover {
    text-decoration: none;
    color: #fafafa;
}
/* other text */
h1 {
    font-size: 3em;
    font-family: 'Helvetica', sans-serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
}


/* ----------------------------------------------------------------
                        CLASS SELECTORS
-----------------------------------------------------------------*/
.red-page {
    background-color: #912d2d;
}
.green-page {
    background-color: #2d912d;
}
.blue-page {
    background-color: #2d2d91;
}
/* main container of content for each page */
.container {
	height: 100%;
	width: 100%;
	background-color: #2d2d2d;
	border: 5px solid #000000;
	color: #fafafa;
}


/* ----------------------------------------------------------------
                       PSEUDO-CLASS SELECTORS
-----------------------------------------------------------------*/
/* pseudo-class selectors
for links:
1. a:link - an unvisited link
2. a:visited - a visited link
3. a:hover - a link you're hovering your mouse over

_:first-child
_:nth-child(n)

border: 1px dashed #0000ff;

positioning
display property
1. block: makes the element a block box. It won't let anything sit next to it on the page! It takes up the full width
2. inline-block: this makes the element a block box, but will allow other elements to sit next to it on the same line
3. inline: this makes the element sit on the same line as another element, but without formatting it like a block. It
only takes up as much width as it needs (not the whole line)
4. none: this makes the element and its content disappear from the page entirely!

position property
1. absolute: element is positioned in relation to the first parent element it has that *doesn't* have position:static;
    if no such element then gets positioned relative to <html>
2. relative: element moves relative to where it would have landed if it just had the default static positioning
3. fixed: anchors an element to the browser window

div {
	height: 50px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	border-top:
	padding-right:
	padding: T R B L
	float: right;
	clear: left; (right, both) - element will immediately move below any floating elements on the the left side of the
	                                page
}

ul {
    list-style-type: none;
    position: fixed;
    margin:
}




<body>
		<div id="header">
			<div id="navbar">
				<ul>
					<li>Home</li>
					<li>About Me</li>
					<li>Plans for World Domination</li>
					<li>Contact</li>
				</ul>
			</div>
			<h2>About Me</h2>
		</div>


#navbar {
    position: fixed;
    margin-top: -10px;
	left:50%;
	margin-left:-254px;
	z-index: 1;
}

#header {
	position: relative;
	top: -10px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 97.5%;
}

*/
